/* keyframes */
@keyframes icon {
    0% { transform: translateX(-10px); }
    80% { transform: translateX(2px); }
    100% { transform: translateX(0px); }
}

@keyframes fadeInTop {
    0% { transform: translateY(-15px); opacity: 0; }
    100% { transform: translateY(0px);  opacity: 100; }
}

@keyframes fadeInBottom {
    0% { transform: translateY(15px); opacity: 0; }
    100% { transform: translateY(0px);  opacity: 100; }
}

@keyframes customBTN {
    0% { transform: scale(1);}
    100% { transform: scale(1.02); box-shadow: 0px 1px 3px black;}
}

/* Common */
* {font-family: Inter, sans-serif; margin: 0px;}
body {background-color: white;/*#0478d1;*/ margin: 0 auto; max-width: 1280px; }  
input { height: 35px; border-radius: 10px; border-color: #d2d2d7; }
input:focus { outline: none; border-color: #1c98f7; box-shadow: 0 0 0 2px #1c98f7;}
form p {margin: 20px 0px 2px 0px; font-size: 14px;}
ul {padding: 0px; margin-right: 55px;}
li {list-style: none;}
.errorMsg {font-size: 12px; color:brown;}
.column { margin: 0px 0px 8px 0px; }
input[type='text'],textarea {font-size:1em;}

/* Common HEADER*/
.header { background-color: white; padding : 30px 0px 30px 20px;  border-bottom: 1px solid #ddd; }
.header div {animation-name: icon; animation-duration: 1.5s;}
.header * {float: left;}
.header a { color : black; }
.header::after {  content: ""; clear: both; display: table; }
.header h1 { margin : 0 0 0 15px; line-height: 55px;}
.header .appIcon {height: 55px; }

/* LOGIN page*/
.loginForm { margin: 45px auto; max-width: 500px; border-radius: 20px; overflow: hidden; box-shadow: 0px 3px 5px 6px #ddd;}
.loginForm__form { max-width: 950px; margin: 0 auto; background-color: #f6fafb; }
.loginForm__form .form { width: fit-content; margin: 0 auto; padding: 35px 0 35px 0;}
.loginForm__form input { width: 350px;}
.loginForm__form .loginBtn { width: 350px; margin: 0px; padding: 5px 0px; height: 35px; position: relative; margin-top: 15px;}
.loginForm__form .button {width: 100%; margin-right: 15px; font-size: 14px; border-color: #0478d1; border-radius: 10px; background-color: #0478d1; color : white; line-height: 35px; cursor: pointer; box-shadow: 0px 0px 2px black;}
.loginForm__form .button:hover {animation-name: customBTN; animation-duration: 0.5s; animation-fill-mode: forwards;}     
.loginForm__changeForm { width: 100%; }
.loginForm__changeForm::after { content: ''; display: table; clear: both; }
.loginForm__changeForm .tab { width: 50%; font-weight: bold; float: left; text-align: center; padding: 8px 0px; background-color: white; border-bottom: 3px solid white; cursor: pointer; }
.loginForm__changeForm .active { background-color: #f6fafb; border-bottom: 3px solid #0478d1; }
.loginForm__changeForm .tab:first-child {width: calc(50% - 1px); border-right: 1px solid #ddd}

/* Login page login form */
.loginForm__form-login { animation-name: fadeInBottom; animation-duration: 1s;}

/* Login page signup form */
.loginForm__form-signup {display: none; animation-name: fadeInBottom; animation-duration: 1s;}

/* Forget password form */        
.forgetPwd { padding: 30px 0px 0px 0px; text-align: right; }
.forgetPwd span { font-size: 14px; text-decoration: underline; cursor: pointer; }
#loginResetForm { display: none; animation-name: fadeInTop; animation-duration: 1s; }
#loginResetForm .msg {font-size: 12px; padding: 3px 0px;}

/* RESET page*/
.resetForm { margin: 45px auto; max-width: 500px; border-radius: 20px; overflow: hidden; box-shadow: 0px 3px 5px 6px #ddd;}
.resetForm__form { max-width: 950px; margin: 0 auto; background-color: #f6fafb; animation-name: fadeInBottom; animation-duration: 1s;}
.resetForm__form .form { width: fit-content; margin: 0 auto; padding: 35px 0 35px 0;}
.resetForm__form input { width: 350px;}
.resetForm__form .resetBtn { width: 350px; margin: 0px; padding: 5px 0px; height: 35px; position: relative; margin-top: 15px;}
.resetForm__form .button {width: 100%; margin-right: 15px; font-size: 14px; border-color: #0478d1; border-radius: 10px; background-color: #0478d1; color : white; line-height: 35px; cursor: pointer; box-shadow: 0px 0px 2px black;}
.resetForm__form .button:hover {animation-name: customBTN; animation-duration: 0.5s; animation-fill-mode: forwards;}     
#confirmText {font-size: 12px; color: red; }


 
/* Chatroom Page */
.chatroomPage {background-color: white; margin: 0px; overflow: hidden;}   
.chatroomPage .moreBtn {width: 100%; text-align: center;} 
.chatroomPage .moreBtn span {cursor: pointer;}
.chatroomPage h3 {margin-top: 15px;}
.chatroom #messages {position: relative;}
.chatroom #form, .chatroomPage {max-width: 950px; margin: 0 auto;}
.chatroomInfo { padding: 15px; border-bottom: 1px solid #EFEFEF;}
.chatroomInfo div {float: left;}
.chatroomInfo::after {content: ''; display: table; clear: both;}
.chatroomInfo .goBack {padding: 0px 15px 0px 0px; border-right: 1px solid black; cursor: pointer;}
.chatroomInfo .goBack img{ height: 35px;}
.chatroomInfo #icon {height: 35px; width: 35px; border-radius: 50%; float: right;}
.chatroomInfo #header {font-size: 24px; text-align: center; width: calc(100% - 120px);}
.chatroomInfo .chatroomName {width: calc(100% - 51px);}
.chatroomInfo .chatroomName * {float: left; margin: 0 auto;}
.chatroomInfo .chatroomName::after {content: ''; display: table; clear: both;}
.chatroomInfo .moreOption {display: none;}
.chatroomPage .chatroom {overflow-y: scroll; height: 100vh; background-image: url('/content/images/55a44e59618507debb99d95fc16b659a.png');}
.chatroomPage #emojiPicker{position: absolute; bottom: 15px; width: 100%}
.chatroomPage #emojiPicker emoji-picker {margin: 0 auto;}

/* Message */
#messages .message { background: white; padding:20px; border-radius: 10px; display: inline-block; max-width: 42%;}
#messages .messageImg {max-width: 100%;}
#messages .messageImg img{max-height: 240px;}
#messages li::after {clear: both; display: table; content: '';}
#messages .message .content {word-break: break-word;}
#messages .right {background: greenyellow; float: right;}

/* Chat form */
#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; cursor: pointer;}

/* Image preview */
#imagePreview {display: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.6);}
.imagePreview__content {margin-top: 50%; transform: translateY(-50%); text-align: center; background-color: white;}
.imagePreview__content img { max-height: 50%; max-width: 100%; }
.previewClose {cursor: pointer;}

#messages { list-style-type: none; margin: 0; margin-bottom: 150px; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }

/*FOOTER*/
.footer {margin-top: 50px; background-color: #000b21; width: 100%; padding: 35px 0px;}
.footer .container {width: 82%; margin: 0 auto;}
.footer .container * {color: white;}
.footer .container div{float: left;}
.footer .container::after {content: ''; clear: both; display: table;}
.footer .left {width: 40%;}
.footer .right {width: 60%;}

@media only screen and (max-width: 700px){
    .loginPage__form div { margin: 0px; padding: 0px;}
}