/* keyframes */
@keyframes icon {
    0% { transform: translateX(-10px); }
    80% { transform: translateX(2px); }
    100% { transform: translateX(0px); }
}

@keyframes fadeInTop {
    0% { transform: translateY(-15px); opacity: 0; }
    100% { transform: translateY(0px);  opacity: 100; }
}

@keyframes fadeInBottom {
    0% { transform: translateY(15px); opacity: 0; }
    100% { transform: translateY(0px);  opacity: 100; }
}

@keyframes customBTN {
    0% { transform: scale(1);}
    100% { transform: scale(1.02); box-shadow: 0px 1px 3px black;}
}

@keyframes enterFromTop {
    0% {
        margin-top: -500%;
    }
    100% {
        margin-top: 0%;
    }
}

@keyframes expendFromTop {
    0% {
        opacity: 0;
        margin-top: -50%;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 0%;
    }
}

@keyframes closeFromBottom {
    0% {
        margin-top: 0%;
    }
    100% {
        margin-top: -500%;
    }
}

/* Common */
* {font-family: Inter, sans-serif; margin: 0px;}
body {background-color: white;/*#0478d1;*/ margin: 0 auto; max-width: 1280px; }  
input { height: 35px; border-radius: 10px; border-color: #d2d2d7; }
input:focus { outline: none; border-color: #1c98f7; box-shadow: 0 0 0 2px #1c98f7;}
form p {margin: 20px 0px 2px 0px; font-size: 14px;}
ul {padding: 0px; margin-right: 55px;}
li {list-style: none;}
.errorMsg {font-size: 12px; color:brown;}
.column { margin: 0px 0px 8px 0px; }
input[type='text'],textarea {font-size:1em;}
.enterFromTop {animation-name: enterFromTop; animation-duration: 0.8s; animation-fill-mode: forwards; }
.closeFromBottom {animation-name: closeFromBottom; animation-duration: 3s; animation-fill-mode: forwards; }
.expendFromTop {animation-name: expendFromTop; animation-duration: 0.5s; animation-fill-mode: forwards; }
.arrow {
    border: solid black;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 10px;
}

.arrow_right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Common HEADER*/
.header { background-color: white; padding : 30px 0px 30px 20px;  border-bottom: 1px solid #ddd; }
.header div {animation-name: icon; animation-duration: 1.5s;}
.header * {float: left;}
.header a { color : black; }
.header::after {  content: ""; clear: both; display: table; }
.header h1 { margin : 0 0 0 15px; line-height: 55px;}
.header .appIcon {height: 55px; }

/* LOGIN page*/
.loginForm { margin: 45px auto; max-width: 500px; border-radius: 20px; overflow: hidden; box-shadow: 0px 3px 5px 6px #ddd;}
.loginForm__form { max-width: 950px; margin: 0 auto; background-color: #f6fafb; }
.loginForm__form .form { width: fit-content; margin: 0 auto; padding: 35px 0 35px 0;}
.loginForm__form input { width: 350px;}
.loginForm__form .loginBtn { width: 350px; margin: 0px; padding: 5px 0px; height: 35px; position: relative; margin-top: 15px;}
.loginForm__form .button {width: 100%; margin-right: 15px; font-size: 14px; border-color: #0478d1; border-radius: 10px; background-color: #0478d1; color : white; line-height: 35px; cursor: pointer; box-shadow: 0px 0px 2px black;}
.loginForm__form .button:hover {animation-name: customBTN; animation-duration: 0.5s; animation-fill-mode: forwards;}     
.loginForm__changeForm { width: 100%; }
.loginForm__changeForm::after { content: ''; display: table; clear: both; }
.loginForm__changeForm .tab { width: 50%; font-weight: bold; float: left; text-align: center; padding: 8px 0px; background-color: white; border-bottom: 3px solid white; cursor: pointer; }
.loginForm__changeForm .active { background-color: #f6fafb; border-bottom: 3px solid #0478d1; }
.loginForm__changeForm .tab:first-child {width: calc(50% - 1px); border-right: 1px solid #ddd}

/* Login page login form */
.loginForm__form-login { animation-name: fadeInBottom; animation-duration: 1s;}

/* Login page signup form */
.loginForm__form-signup {display: none; animation-name: fadeInBottom; animation-duration: 1s;}

/* Forget password form */        
.forgetPwd { padding: 30px 0px 0px 0px; text-align: right; }
.forgetPwd span { font-size: 14px; text-decoration: underline; cursor: pointer; }
#loginResetForm { display: none; animation-name: fadeInTop; animation-duration: 1s; }
#loginResetForm .msg {font-size: 12px; padding: 3px 0px;}

/* RESET page*/
.resetForm { margin: 45px auto; max-width: 500px; border-radius: 20px; overflow: hidden; box-shadow: 0px 3px 5px 6px #ddd;}
.resetForm__form { max-width: 950px; margin: 0 auto; background-color: #f6fafb; animation-name: fadeInBottom; animation-duration: 1s;}
.resetForm__form .form { width: fit-content; margin: 0 auto; padding: 35px 0 35px 0;}
.resetForm__form input { width: 350px;}
.resetForm__form .resetBtn { width: 350px; margin: 0px; padding: 5px 0px; height: 35px; position: relative; margin-top: 15px;}
.resetForm__form .button {width: 100%; margin-right: 15px; font-size: 14px; border-color: #0478d1; border-radius: 10px; background-color: #0478d1; color : white; line-height: 35px; cursor: pointer; box-shadow: 0px 0px 2px black;}
.resetForm__form .button:hover {animation-name: customBTN; animation-duration: 0.5s; animation-fill-mode: forwards;}     
#confirmText {font-size: 12px; color: red; }

/* Chat page base settings */
.chatPage { height: 95vh; position: relative; background-color: #183a55; overflow: hidden; }
.chatPage #chatlist, .chatPage #chatroom { float: left; padding: 0; margin: 0; }
.chatPage main { position: relative; }
.chatPage main::after{ content: ''; display: table; clear: both; }
.chatPage #chatlist { min-width: 230px; max-width: 280px; border-right: 1px solid #ddd; border-left: 1px solid #ddd;}
.chatPage #chatroom { min-width: calc(100% - 233px); max-width: calc(100% - 283px); }

/* Chat page user info bar */
.chatlist__user {padding: 5px 15px; border-bottom: 1px solid #EFEFEF;}
.chatlist__user .icon {height: 55px; width: 55px; border-radius: 50%;}
.chatlist__user .username { font-size: 22px; font-weight: 500; vertical-align: top;  line-height: 55px; width: calc(100% - 113px); text-align:center; display: inline-block;}
.chatlist__user .more { cursor: pointer; float: right; padding-right: 8px;}
.chatlist__user svg:hover { transform: scale(1.15); }

/* More option div */
#optionContainer { height: 100vh; margin-top: -500%; overflow: hidden; position: absolute; inset: 0; background-color: rgba(0, 0, 0, 0.7); z-index: 999; }
#optionContainer .closeArrow { position: absolute; box-shadow: 6px 4px 10px black; cursor: pointer; bottom: 0; left: 50%; transform: translate(-50%, 50%); background-color: #0478d1; border-radius: 50%; height: 55px; width: 55px;}
#optionContainer .arrow {margin: 13px 18px; border: solid white; border-width:  0 5px 5px 0; padding: 7px;}

.optionContainer__content { height: fit-content; border-radius: 5px; box-shadow: 6px 4px 10px black; width: fit-content; position: absolute; inset: 0; margin: auto; padding: 25px; background-color: white; }
.optionContainer__content .profile__title { padding: 25px 10px; background-color: #0478d1; border-radius: 10px; }
.optionContainer__content .profile__title h3 { font-size: 1.8em; color: white;}
.optionContainer__content .profile__icon { padding: 15px; position: relative; }
.optionContainer__content .profile__icon img {margin-left: 50%; border-radius: 50%; transform: translateX(-50%); height: 280px; width: 280px; cursor: pointer; }
.optionContainer__content .profile__username { background-color: rgb(243, 243, 243); padding: 15px; border-radius: 10px; }
.optionContainer__content .profile__username h2 { font-size: 18px; }
.optionContainer__content .profile__username .username { display: inline-block; margin: 10px 0px; font-size: 18px;}
.optionContainer__content .profile__username .remarks { font-size: 12px; }
.optionContainer__content .profile__email { background-color: rgb(243, 243, 243); padding: 15px; margin-top: 15px; border-radius: 10px; }
.optionContainer__content .profile__email h2 { font-size: 18px; }
.optionContainer__content .profile__email .email { display: inline-block; margin: 10px 0px; font-size: 18px;}
.logout { width: 350px; margin: 15px auto; height: 35px; position: relative; }
.logoutBtn {width: 100%; margin-right: 15px; font-size: 14px; border-color: #0478d1; border-radius: 10px; background-color: #0478d1; color : white; line-height: 35px; cursor: pointer; box-shadow: 0px 0px 2px black;}
.logoutBtn:hover {animation-name: customBTN; animation-duration: 0.5s; animation-fill-mode: forwards;}     

#updateName { display: none; }
.updateNameBtn { border: none; border-radius: 50%; background-color: rgb(243, 243, 243); cursor: pointer; }
.updateNameBtn:hover { background-color: #ddd; }

#fileUpload { display: none; }
.overlay_icon { position: absolute; display: none; height: 280px; background-color: rgba(0,0,0, 0.5); top: 15px; left: 50%; transform: translateX(-50%); width: 280px;  border-radius: 50%; cursor: pointer; }
.overlay_icon p { position: absolute; inset: 0; color: white; height: fit-content; width: fit-content; margin: auto; }
.optionContainer__content .profile__icon img:hover + div { display: block; }

/* Create New Chatroom */
.chatlist__newchat { padding: 10px; background-color: #0478d1; overflow: hidden; border-radius: 10px; }
.chatlist__newchat h3 { color: white; cursor: pointer;}
.newchatForm form {display: none;}
.newchatForm input{ min-width: 200px; }
#createChat { color: white; }
.createChatBtn {min-width: 200px; margin-top: 20px; font-size: 14px; border-radius: 10px; background-color: white; line-height: 35px; cursor: pointer;}
.createChatBtn:hover {animation-name: customBTN; animation-duration: 0.5s; animation-fill-mode: forwards;}     
.createChatArrow { float: right; padding-right: 5px; margin-top: -2px; }
.createChatArrow .arrow {border: solid white; border-width: 0 4px 4px 0; padding: 5px; }

/* Show Joined Chatrooms */
.chatlist__chatrooms {background-color: white; max-height: calc(100vh - 112px); height: 100vh; overflow: auto;}
#chatlist__chatrooms_list {margin-right: 0;}
#chatlist__chatrooms_list .chatroom {padding: 15px; border-bottom: 1px solid #ddd;}
#chatlist__chatrooms_list .chatroom:hover {background-color: #ddd;}
#chatlist__chatrooms_list .chatroom .chatroom_icon {height: 35px; border-radius: 50%; margin-right: 15px;}
#chatlist__chatrooms_list .chatroom div {float: left;}
#createChat .errorMsg {color: white; margin-top: 5px;}
#initUpdateName { cursor: pointer; margin-left: 10px; }
#updateName .errMsg { display: none; font-size: 12px; }

#chatlist {padding: 0px 15px; background-color: #f5f5f5; margin: 0px;}
#chatlist li {cursor: pointer;}          
#chatlist .chatroom .right{width: calc(100% - 50px);}
#chatlist .chatroom .halfWidthRight {width: calc(100% - 75px);}
#chatlist .chatroom .message, #chatlist .chatroom .timestamp {font-size: 14px; color: #5a5a5a;}
#chatlist .chatroom .timestamp {float: right;}
#chatlist .chatroom::after {clear: both; display: table; content: "";}
#chatlist span {vertical-align: top;}
#chatlist .roomName {display: inline-block; font-size: 14px; font-weight: bold;}

/* Message body */
#noMoreMsg, #newMsgLine {background-color: rgba(0, 0, 0, 0.6); padding: 5px; text-align: center; width: 100%; color: white; display: none;}
.message {margin: 5px 0px;}

#chatOptionContainer { display: none; }
#chatroom .chatroom_header { background-color: #f5f5f5; padding: 5px 15px;}
#chatroom .chatroom_header div { float: left; }
#chatroom .chatroom_header .chatroomMore { float: right; }
#chatroom .chatroom_header::after { display: table; content: ''; clear: both; }
#chatroom_icon { height: 45px; width: 45px; border-radius: 50%; padding: 5px;}

.chatroom__content { background-color: white;  position: relative; }               
.chatroom__content #messages { margin: 0px; height: calc(100vh - 120px); padding-bottom: 51px; overflow: auto; }
.chatroom__content__form { position: absolute!important; width: 100%; }
#chatName { font-size: 22px; vertical-align: top; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 15px; }
#messages__read, #messages__unread {margin: 5px 8px;}

/* EMOJI picker */
#emojiPicker { position: absolute; bottom: 55px; left: 50%; transform: translateX(-50%);}

/* Image preview */
#imagePreview {display: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.6);}
.imagePreview__content {margin-top: 50%; transform: translateY(-50%); text-align: center; background-color: white;}
.imagePreview__content img { max-height: 50%; max-width: 100%; }
.previewClose {cursor: pointer;}

#messages { list-style-type: none; margin: 0; margin-bottom: 150px; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }

/*FOOTER*/
.footer {margin-top: 50px; background-color: #000b21; width: 100%; padding: 35px 0px;}
.footer .container {width: 82%; margin: 0 auto;}
.footer .container * {color: white;}
.footer .container div{float: left;}
.footer .container::after {content: ''; clear: both; display: table;}
.footer .left {width: 40%;}
.footer .right {width: 60%;}

@media only screen and (max-width: 700px){
    .loginPage__form div { margin: 0px; padding: 0px;}
}